.login-wrapper {
    display: flex;
    justify-content: space-around;
}
.login-img {
    width: 448px;
    align-self: center;
}
.login-input-wrapper {
    width: 448px;
}
.login-input-container {
    margin: 24px 0;
}
.login-header {
    color: black;
    font-size: 34px;
    text-align: center;
    margin-bottom: 32px;
}
.login-label-input {
    margin-bottom: 8px;
}
.login-input-container input[type="text"],.login-input-container input[type="password"] {
    height: 48px;
    padding: 0px 12px;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid #E2E2E1;
    width: 100%;
    margin-bottom: 16px;
}
.login-input-container input[type="text"]::placeholder,.login-input-container input[type="password"]::placeholder{
    color: #706F6A;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}
.password-input {
    position: relative;
}
.password-input svg {
    position: absolute;
    right: 12px;
    bottom: 12px;
}
.register-btn {
    padding: 14px 24px;
    background-color: var(--primary-color);
    border-radius: 23px;
    margin: 24px 0;
}
.login-register {
    text-align: center;

}
.login-register a{
    color: var(--primary-color);
}
@media (max-width: 768px) {
    .login-header,.login-img {
        display: none;
    }
}