/* body {
    background: var(--grey-50, #F6F6F7);
} */

.flex.gap-12.buy-btn-group {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 12px 16px;
    background: white;
    border-top: 1px solid var(--light-theme-grayscale-gray-24, rgba(234, 235, 237, 0.80));
    

  
}
.product-detail {
    display: grid;
    grid-template-columns: 40% 60%;
    position: relative;
}


.product-detail-img,.viewed-products {
    border-radius: 0;
    /* position: relative; */
}
.product-main-img {
    width: 100%;
    border-radius: 8px;
}
.product-sub-img {
    justify-content: center;
    margin: 16px 0;
}
.product-sub-img img{
    width: 80px;
    height: 80px;
}
.product-detail-like-share {
    justify-content: center;
}
.product-detail-like-share div {
    gap: 12px;
}
.product-detail-like-share img  {
    width: 1.5rem;
    height: 1.5rem;
}
.lu-products-share {
    /* gap: 8px; */
}
.product-detail-like-share span {
    margin: 0 24px;
}
.product-detail-price {
    background-color: var(--body-color);
    border-radius: 8px;
    display: flex;
    padding: 24px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    margin: 32px 0;
}
.product-detail-price h2 {
    color: var(--primary-color);
}
.product-detail-categories {
    flex-wrap: wrap;
}
.product-detail-categories p,.product-quantity p:first-child {
    width: 124px;
}
.het-nghi-ra-ten-class-roi-huhu {
    flex-wrap: wrap;
}
.product-categories-btn button{
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #E2E2E1;
    width: 80px;
}
.categories-active {
    color: var(--primary-color);
    border: 1px solid var(--primary-color, #FD7016) !important;
}
.product-quantity div:nth-child(2){
    margin-right: 12px;
}
.product-quantity {
    margin-top: 32px;
    margin-bottom: 40px;
}
.product-quantity-btn button {
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background-color: #E2E2E1;
}
.product-quantity-btn p {
    border-radius: 4px;
    border: 1px solid  #E2E2E1;
    background-color: var(--bg-color);
    width: 40px;
    height: 32px;
    text-align: center;
}
.add-to-cart-btn {
    display: flex;
    width: 224px;
    height: 48px;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: var(--primary-color);
}
.buy-now-btn {
    display: flex;
    width: 224px;
    height: 48px;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1px solid var(--primary-color);
    background-color: var(--bg-color);
    color: var(--primary-color);
}

.product-information {
    flex-direction: column;
    gap: 24px;
    /* max-width: 877px; */
}
.product-detailed-information {
    border-radius: 12px;
    background-color: var(--body-color);
    padding: 12px 20px;
    /* height: 300px; */
    overflow: hidden;
}
.product-detailed-row:not(.product-detailed-row:last-child) {
    border-bottom: 1px solid #E2E2E1;
   
    min-height: 44px;
}
.product-information h4,.product-information h5 {
    align-self: baseline;
}
/* .product-detailed-information p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: auto;
    flex-wrap: wrap;
} */
.product-detailed-row p:first-child {
    min-width: 212px;
}
.product-describe {
    margin-top: 16px;
}
.product-describe img {
    height: 524px;
    object-fit: contain;
}
.product-describe div:nth-child(2) {
    flex-direction: column;
}
.content {
    height: 450px;
    flex-wrap: nowrap;
    overflow: hidden;
}
.more-less-btn {
    width: 224px;
    height: 46px;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
.more-less-btn:hover {
    color: var(--bg-color);
    background-color: var(--primary-color);
    stroke: var(--bg-color);
}
.product-rating {
    flex-direction: column;
    align-items: baseline;
}
.product-rating-header {
    background-color: var(--body-color);
    /* margin: 24px 0; */
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 8px;
    padding: 24px 20px;

}
.product-rating-detail {
    gap: 20px;
    /* align-items: flex-start; */
    
}
.product-rating-detail h2 {
    font-size: 34px;
    color: var(--primary-color);
}
.product-rating-filter-btn button{
    border-radius: 4px;
    border: 1px solid #E2E2E1;
    background-color: var(--bg-color);
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
}
.rating-btn-active {
    background-color: var(--primary-color) !important;
    color: var(--bg-color) !important;
}
.product-rating-comment-list {
    flex-direction: column;
    display: flex;

}
.comment-avatar{
    width: 60px;
    height: 60px;
    align-self: baseline;

}
.product-rating-text {
    flex-grow: 1;
    justify-content: space-between;
    align-items: flex-start;
}
.product-rating-text button{
    color: #E06153;
    height: 48px;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #E06153;
    background-color: var(--bg-color);
}

.product-rating-img img{
    width: 138px;
    height: 138px;
    border-radius: 8px;
}
.rating-comment {
    margin: 16px 0;
}
.rating-button-group {
    align-self: center;
    text-align: center;
}
.product-recomendation-container h4 {
    margin-top: 16px;
    margin-bottom: 16px;
}
.product-recomendation {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 10px;
}
.recomendation-button-group {
    justify-content: center;
    margin-top: 64px;
}
.product-detail-img-wrapper {
    position: relative;

}

.lu-product-number {
    position: absolute;
        width: 40px; 
        height: 20px; 
        border-radius: 24px; 
        background: rgba(11, 10, 10, 0.30);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 12px;
        margin: 14px 16px;
        color: white;
        right: 0;
        bottom: 2%;
   }
   .lu-products-content{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 10px;
}



.product-listing-lu {
    margin-bottom: 0;
}
.lu-product-quantity {
    gap: 12px;
   
}
.lu-pr-bg {
    margin-bottom: 16px;
}
.lu-evaluate-wrapper p {
    color: var(--grey-600-second, #5A5955);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
section.lu-bg-white.product-reviews {
    padding-bottom: 16px;
}


