/*lu-main-container*/
.lu-main {
    margin-top: 1rem;
}
.lu-main-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.lu-dashboard {
    border-radius: 12px;
    background-color: var(--bg-color) ;
   width: 205px;
   height: 436px;
    /* width: 20%; */
    /* display: none; */
}
.lu-dashboard-inner ,.lu-dashboard h6{
    padding: 8px 4px 8px 16px;
}
.lu-dashboard-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lu-dashboard-inner {
    font-size: 0.875rem; 
}
.lu-wrapper-body {
flex-grow: 1;
    width: 80%;
}

/* option */
.lu-option {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.lu-option-wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    justify-content: space-between;
    gap: 9px;
    margin-bottom: 18px;
}
.lu-option {
    margin: 1rem 0;
    padding: 24px 20px;
}
.lu-option-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.lu-option-inner img {
    padding: 0 25px;
}
.brand-img {
    width: 346px; 
}
/* gợi ý hôm nay */
.section-inner {
    border-radius: var(--rounded);
    background-color: var(--bg-color);
    padding: 10px;
  }
  .product-card-box {
    display: flex;
    flex-direction: column;
    /* min-width: 188px; */
}
.product-card-box .product-card-img{
    
    height: 168px;
    display: block; 
  object-fit: cover;
}
.product-card-box h5 {
    color: var(--primary-color);
}
.option-test {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px
}
img.menu-hidden {
    width: 24px;
}

