.recharge-inner {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 16px;
}
.recharge-title {
    color: var(--grey-600-second, #5A5955);
  font-feature-settings: 'clig' off, 'liga' off;
  
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  }
  .recharge-content {
    color: var(--grey-black, #0B0A0A);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  }
  .recharge-content.text-orange {
    color: var(--primary-color);
  
  }
  .recharge-wrapper {
    display: grid;
    grid-template-columns: 30% 70%
  }
  .recharge-img img:first-child {
    width: 92px;
    margin: 0 auto;
  }
  .recharge-img img:last-child {
    width: 138px;
    margin: 0 auto;
  }
  .recharge-img {
    border-right: 1px solid #ccc;
  }
  .trans-note {
    padding: 12px 12px;
    border-radius: 12px;
    border: 1px solid #E2E2E1;
    width: 342px;
    margin-bottom: 16px;
    height: 112px;
    outline: none;

  }
  .create-pass-input-container>.trans-note-title{
    align-items: flex-start;
  }
  .trans-note::placeholder{

    color: #706F6A;
    /* font-size: 14px; */
    font-weight: 600;
    line-height: 18px;
    font-family: var(--body-ff);
}
.withdraw-input {
  margin-bottom: 24px;
}
  
  @media (max-width: 768px) {

    .recharge-wrapper {
    display: grid;
    grid-template-columns:none;
}
.recharge-img {
  gap: 16px;
  border-right: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recharge-img img:first-child {
  margin: 0 ;
}

.recharge-img img:last-child {
  margin: 0 ;
}
.recharge-inner {
  grid-template-columns: none;
}}

@media (max-width: 768px){
  .trans-input input {
    width: 100%;
  }
  .trans-input input[type="text"]:not(.trans-note) , .trans-note{
    width: 100%;
  }
}
  
  