*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-ff);
  font-size: var(--fs-base);
  font-weight: 400;
  line-height: var(--lh-base);
  color: var(--black);
  /* background-color: var(--bg-color); */
  background: var(--grey-50, #F6F6F7);
}

main {
  position: relative;
  padding-bottom: 1.75rem;
}


img,
iframe {
  display: block;
  width: 100%;
  height: auto;
} 

a {
  display: block;
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
button ,a, i, svg {
  cursor: pointer;
  background: none;
}
input,
button {
  display: block;
  font: inherit;
  border: 0;
  color: inherit;
}






