.header-wrapper , .header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
}

.flex {
  display: flex;
  align-items: center;
}
.gap-4 {
  gap: var(--gap-4);
}
.gap-8 {
  gap: var(--gap-8);
}
.gap-10 {
  gap: var(--gap-10);
}
.gap-12 {
  gap: var(--gap-12);
}
.gap-20 {
  gap: var(--gap-20);
}
.gap-16 {
  gap: var(--gap-16);
}

.gap-24 {
  gap: var(--gap-24);
}
.flex-wrap {
  flex-wrap: wrap;
}
.w-full {
  width: 100%;
}
.w-80 {
  width: 80%;
}

.w-70 {
  width: 70%;
}
.w-60 {
  width: 60%;
}

.w-40 {
  width: 40%;
}

.w-30 {
  width: 30%;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-grow {
  flex-grow: 1;
}
.flex-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.product-listing-header ,.product-details-mg,.product-reviews,.idee-lu  {
  padding-top: 16px;
}
.product-card-list {
  padding-bottom: 16px;
}


.show {
  display: block;
}


@media (min-width: 769px) {
  .hidden {
    display: none;
  }
}
@media (max-width: 769px) {
  .show {
    display: none;
  }
}