.header-wrapper , .header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
}
.lu-option {
  background-color: var(--white);
  border-radius: var(--rounded);
}
.flex {
  display: flex;
  align-items: center;
}
.gap-4 {
  gap: var(--gap-4);
}
.gap-8 {
  gap: var(--gap-8);
}
.gap-10 {
  gap: var(--gap-10);
}
.gap-12 {
  gap: var(--gap-12);
}

.w-full {
  width: 100%;
}
.w-80 {
  width: 80%;
}

.w-70 {
  width: 70%;
}
.w-60 {
  width: 60%;
}

.w-40 {
  width: 40%;
}

.w-30 {
  width: 30%;
}

.flex-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}
