.more-less-btn-orange {
    width: 224px;
    height: 46px;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1px solid var(--primary-color);
    color: var(--white);
    background: var(--primary-color);
}
.more-less-btn-orange:hover {
    color: var(--primary-color);
    background-color: var(--white);
    stroke: var(--bg-color);
}