.icon-xs {
    width: 12px;
    height: 12px;
}
.icon-sm {
    width: 16px;
    height: 16px;
}
.icon-md {
    width: 20px;
    height: 20px;
}
.icon-lg {
    width: 24px;
    height: 20px;
}
.icon-xl {
    width: 32px;
    height: 32px;
}

.svg  {
    width: 20px;
    /* height: 20px; */}
    .header-inner svg ,.lu-dashboard-title svg {
        width: 20px;
    }