/* text */

.text-xs {
  font-size: 0.75rem; 
}
.text-sm {
  font-size: 0.875rem; 
  line-height: 142.857% ;
}
  
.text-md {
  font-size: 1rem;
  line-height: calc(30 / 16);
}
.text-xl {
  font-size: 2.125rem;
}
.text-lg {
  font-size: 1.125rem;
}

/* font weight */
.font-bold {
  font-weight: 700;
}
.font-semibold {
  font-weight: 600;
}
.font-medium {
  font-weight: 500;
}

/* text +font */
.sm-semibold {
  font-size: 0.875rem; 
  font-weight: 600;
  line-height: 128.571%;
}

/* text color */
.text-white {
  color: #FCFCFC;
}
.text-grey {
  color: #706F6A;
}
.text-black {
  color: #0B0A0A;
}
.text-semigrey {
  color: #5A5955;
}
.text-orange {
  color: var(--primary-color);
}
