.header-contact{
  background-color: var(--heading-color);
}

.header-inner {
  padding: 10px 0;
  gap: 4px;
}
.header-content{
  background-color: var(--primary-color) ;

}

.header-content-wrapper {
padding: 16px 0;
align-items: center;
display: flex;
justify-content: space-between;
align-items: center;
}

.header-logo  {
  width: 155px;
}

.header-content-inner:nth-child(2) {
  flex-grow: 1;
}

.header-content-search {
  margin: 0 14px;
  flex-grow: 1;
  /* width: 720px; */
  padding: 0px 5px;
  border-radius: 12px;
  background-color: var(--white);
}
.header-content-search input {
  flex-grow: 1;
  background: none;
  color: black;
  outline: none;
  padding-left: 6px;
}
.header-content-search form {
  display: flex;
  justify-content: space-between;
}
button[type="submit"] {
  background-color: var(--primary-color) ;
  border: none; 
  padding: 10px 26px; 
  /* border-radius: 9999px;  */
  cursor: pointer; 
}

.header-cart {
  display: flex;
  gap: 12px;
}
.header-cart-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 0 12px;
} 
.header-menu {
  display: flex;
  gap: 6px;
}
.header-logoC {
  width: 20px;
}

/* reposi */
@media (max-width: 992px) {
  
  .header-logo {
    display: none;
  }
  }
@media (max-width: 768px) {
.header-inner:last-child , .header-cart {
  display: none;
  
}

button[type="submit"] {
  background-color: white;
  cursor: pointer;
  padding: 0 0 0 6px;
  color: gray;
  border-radius: 9999px;

}

}
@media (max-width: 576px) {
  .header-inner:not(:first-child) {
    display: none;
  }
}