.cart-step1-container {
}
/* ll */
.lu-cart-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 0.625rem;
}

.lu-cart1-dashboad {
    /* width: 20%; */
    width: 313px;
}

.lu-cart1-table {
    border-collapse: collapse;
    width: 100%;

}
th .text-grey {
color: var(--grey-500, #706F6A);
font-feature-settings: 'clig' off, 'liga' off;
font-size: 14px;
font-weight: 600;
line-height: 18px;
}
.lu-cart1-table th, .lu-cart1-table td {
padding: 24px 10px;
   
}
.lu-cart1-table th:first-child, .lu-cart1-table td:first-child {
    padding-left: 0;
}
.lu-cart1-table td:last-child  ,.lu-cart1-table th:last-child
{padding-right: 0;
}
.lu-cart1-table th:nth-child(2)  {
    text-align: left;
}
.lu-hidden-cart-svg {
    display: none;
}
.lu-hidden-cart, .lu-hidden-cart1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lu-hidden-cart {
    margin-top: 10px;

}
.lu-hidden-cart h6 {
    color: #FD7016;
}

.lu-cart1-tbody tr {
    border-top: 1px solid #ccc;
    margin-bottom: 24px;
}
.lu-cart1-table th:last-child {
    display: flex;
    justify-content: end;
}
.lu-cart1-inner {
    display: flex;
    align-items: center;
}
p.product-cart-tag.text-xs {
    color: var(--primary-500, #FD7016);
font-feature-settings: 'clig' off, 'liga' off;

/* Paragraph/Caption */
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.333% */
}

.product-cart-name-lu {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* height: 2.6em; */
    font-weight: 400;
}


.product-cart-container {
    display: flex;
    justify-content: space-between;
    gap: 0.625rem;
}
.like-delete-btn {
    display: flex;
    gap: 8px;
}
.product-cart {
    flex-direction: column;
    gap: 24px;
    align-items: baseline;
    height: fit-content;
}
.section-line {
    height: 1px;
    background-color: #E2E2E1;
}
.product-cart-img {
    width: 76px;
    height: 76px;
    border-radius: 8px;
}
.product-cart-name p:first-child{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.product-cart-name p:last-child{
    overflow: hidden;
}
.product-cart-grid , .product-cart-grid.w-full {
    display: grid;
    grid-template-columns: 2% 34% 15% 15% 15% 9%;
    grid-column-gap: 1.25rem;
    place-items: center;
    justify-items: baseline;
}
#delete-all-btn, .like-delete-btn{
    justify-self: end;
}
.product-cart-tag {
    padding: 8px;
    border-radius: 4px;
    background-color: #FFE2D0;
    color: var(--primary-color);
    max-width: fit-content;
    line-height: normal;
    margin-top: 4px;
}

.product-bill-container-1 {
    min-width: 273px;
}
.bill-address {
    justify-content: space-between;
    margin-bottom: 24px;
}
.bill-address a {
    color: var(--primary-color);
}
.bill-address-districts {
    margin-left: 24px;
    margin-top: 4px;
}
.product-bill-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 14px;
}
.product-bill-item {
    display: flex;
    justify-content: space-between;
}
.product-bill-item h6 {
    color: var(--primary-color);
}
.product-bill-list button {
    padding: 14px 24px;
    border-radius: 12px;
    background-color: var(--primary-color);
    text-align: center;
    margin-top: 24px;
}
